:root {
    --e-global-color-primary: #C9A432;
    --e-global-color-secondary: #F9B400;
    --e-global-color-text: #65656A;
    --e-global-color-accent: #F9B400;
    --e-global-color-55854cb: #015B37;
    --e-global-color-1631453: #F9B400;
    --e-global-color-0af91be: #F0E18F;
    --e-global-color-9a7fb22: #C9A432;
    --e-global-color-a2f6d26: #D9BD5C;    
}